.header {
    background: url("../img/fondo.jpg") no-repeat fixed;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.header .navbar .container .navbar-brand a {
    color: #fefefe;
    font-size: 32px;
}

.header .navbar .navbar-toggler {
    color: #fefefe;
}

.header .nav-link {
    color: #fefefe;
}

.header .wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.image-about {
    height: 280px;
}

.font {
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: #6d6138;
    padding: 10px;
}